body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    display: grid;
    justify-content: center;
}

h5 {
    margin-bottom: .5vh;
    margin-left: -2vh;
    display: grid;
    justify-content: center;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.personagens-img,
.bosses-img {
    width: 100px;
    height: 100px;
}

.armas-img {
    width: 60px
}

.aside-right {
    max-width: 100px;
    margin-top: -1rem;
    margin-right: -.5rem;
    color: #fff;
    position: fixed;
    right: 0;
    height: 100%;
}

.aside-left {
    max-width: 100px;
    margin-left: .5rem;
    margin-top: 15rem;
    color: #fff;
    position: fixed;
    left: 0;
    height: 100%;
}

button {
    background-color: #202f4f;
    color: #fff;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10%;
}

.personagem-button button:hover {
    background-color: blue;
}

.bosses-button button:hover {
    background-color: #931c1c;
}

.armas-button button:hover {
    background-color: green;
}

.buffs-button button:hover {
    background-color: yellow;
}

button#calcularDano {
    padding: 10px;
    background-color: firebrick;
}

button#calcularDano:hover {
    background-color: green;
}

.dialog {
    display: none;
    position: fixed;
    width: 30vh;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: black;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    z-index: 1000;
    text-align: center;
}

.dialog button {
    margin-top: 12vh;
    margin-left: .5vh;
    padding: 1vh;
    position: fixed;
}

/* Responsive Mobile */
@media (min-width: 1343px) {

    .telaPersonagem,
    .telaBoss {
        margin-left: 4rem;
        width: 1400px;
    }
}

@media (width: 1342px) {

    .telaPersonagem,
    .telaBoss {
        margin-left: 5.5rem;
        width: 1300px;
    }
}

@media (max-width: 540px) {

    @media (width: 540px) {

        .telaPersonagem,
        .telaBoss {
            margin-left: 10vh;
        }
    }

    h1 {
        font-size: 20px;
    }

    @media (max-width: 539px) {

        .telaPersonagem,
        .telaBoss {
            margin-left: 6vh;
        }
    }

    .aside-right,
    .aside-left {
        max-width: 100%;
        position: static;
        height: auto;
    }

    .aside-right {
        margin-left: 4vh;
    }

    .aside-left {
        margin: -2vh;
    }

    .personagens-img,
    .bosses-img {
        width: 80px;
        height: 80px;
    }

    button {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {

    .personagens-img,
    .bosses-img {
        width: 80px;
        height: 80px;
    }

    .aside-right,
    .aside-left {
        max-width: 100%;
        margin: 0;
        position: static;
        height: auto;
    }

    button {
        margin-top: 1rem;
    }

    @media (min-width: 1024px) and (max-width:1280px) {
        h5 {
            margin-bottom: -1.5vh;
            margin-top: 1vh;
        }
    }
}
